.Rproj.user
.Rhistory
.RData
.Ruserdata

Data/MeteoFrance/10km/*
Data/Biolittoral/Bio-Littoral_Drone/*

!Data/Biolittoral/Bio-Littoral_Drone/OFB2021_Quadrat_Zost_QBR/
!Data/Biolittoral/Bio-Littoral_Drone/reprocessed_Simon/