Data/MeteoFrance/H_44_2023-2024.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1890-1899.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1900-1909.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1950-1959.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1970-1979.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1980-1989.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_2000-2009.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1940-1949.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_2020-2022.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1920-1929.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1930-1939.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1960-1969.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1990-1999.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_2010-2019.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1880-1889.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_44_1910-1919.csv filter=lfs diff=lfs merge=lfs -text
Data/MeteoFrance/H_descriptif_champs.csv filter=lfs diff=lfs merge=lfs -text
